<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277464392191-kpe0p89ke9esq6ugbf7msbp3sdvu0qe3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277464392191-kpe0p89ke9esq6ugbf7msbp3sdvu0qe3</string>
	<key>API_KEY</key>
	<string>AIzaSyDqLX0cTQTqFfbc8WqGgq142mjmPQrL7K0</string>
	<key>GCM_SENDER_ID</key>
	<string>277464392191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reddot.baotai</string>
	<key>PROJECT_ID</key>
	<string>baotai-4292c</string>
	<key>STORAGE_BUCKET</key>
	<string>baotai-4292c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277464392191:ios:dd5067fcb60d830b73c7ca</string>
</dict>
</plist>